* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1 h2 h3 h4 h5 h6 {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.header {
    background: url('/img/main.png') no-repeat center / cover;
    height: 100%;

}

.nav {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links {
    margin-right: 170px;
}

.nav_link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 32px;
    text-decoration: none;
    margin-right: 39px;
    transition: color .2s linear;
}

.nav_link:hover {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    color: #F5682C;
    font-size: 32px;
    text-decoration: none;
    margin-right: 39px;
}

.contacts_link {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 24px;
    text-decoration: none;
    transition: color .2s linear;
}

.contacts_link:hover {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    color: #F5682C;
    font-size: 24px;
    text-decoration: none;
}

.a2 {
    margin-left: 4px;
}

.phone_contacts {
    display: flex;
    align-items: center;
}

.mail_contacts {
    display: flex;
    align-items: center;
}

.mail {
    margin-right: 12px;
}

.phone {
    margin-right: 12px;
}

.note1 {
    margin-top: 50px;
    margin-left: 800px;
}

.main_text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    color: #FFFFFF;
}

.mt2{
    margin-bottom: 57px;
}

.btn_text {
    padding: 14px 62px 23px 62px;
    width: 328px;
    height: 99px;
    background-color: #F5682C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    text-align: center;
    line-height: 71px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #FFFFFF;
    text-decoration: none;
    transition: color .2s linear;
    transition: background .2s linear;
}

.btn_text:hover {
    padding: 14px 62px 23px 62px;
    width: 328px;
    height: 99px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    text-align: center;
    line-height: 71px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #F5682C;
    text-decoration: none;
}

.note2 {
    margin-top: 72px;
}